<ion-view view-title="Final">
  <ion-content>
    <ion-list>
    
      <ion-toggle  ng-model="showCard">
         Completed Final
      </ion-toggle>

      <div class="card">
        <div class="item item-text-wrap" ng-show="showCard">
          My final is ...
        </div>
      </div>

      <a class="item item-thumbnail-left" href="#/tab/final/{{item.url}}" ng-repeat="item in listItems">
        <img src="{{item.albumImg}}">
        <h2>{{item.albumName}}</h2>
        <p>{{item.bandName}}</p>
      </a>

    </ion-list>
  </ion-content>
</ion-view>
